body {
    background-color: $color_fondo;
    margin: 0;
    padding: 0;
    background: url(../img/bg.jpeg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  .container_2{
    color:black;
    margin-top: 200px;
    display: flex;
    justify-content: center;
  }

      .title {
        color: black solid;
        font-size: 35px;
        font-weight: 800;
        margin-bottom: 30px;

      }

      .fa-solid {
        font-size: 20px;
        color: tomato;
        margin-right: 10px;
      }

      .link {
        color: black;
        margin-bottom: 15px;
      }
  

      h1 {
        color: white;
        margin-top: 150px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0 5px 10px black;
      }
  /* ANIMACION DEL TITULO SHOP */
      .shop {
        animation-name: zetaprod;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
      }
      @keyframes zetaprod {
        0% {
          background: red;
        }
  
        50% {
          background: yellow;
        }
  
        100% {
          background: lightgreen;
        }
      }


      .titulofinal {
        margin-bottom: 70px;
      }
.contactos {
margin-top: 250px;
display: flex;
justify-content: center;
align-items: center;
}
/* NEW */


.login-box {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}